# OS related files
.directory

# ctags file
tags

# temporary files
*.swp
*.swo
*.swn
*~
*.bak
*.ignore

# config file
*.conf
!*.conf.sample

# bin
resgen
resgen.exe

# VSCode
.vscode

# IntelliJ etc
.idea/